<nav class="navbar navbar-expand navbar-light bg-light fixed-bottom border-top">
  <div class="container-fluid justify-content-around">
    <a id="home-link" class="nav-link nav-link-afterlogin text-center" href="#">
      <i class="bi bi-compass" style="font-size:1.2rem;"></i><br>
      Discover
    </a>
    <a class="nav-link nav-link-afterlogin text-center" href="/html/map.html">
      <i class="bi bi-geo-alt" style="font-size:1.2rem;"></i><br>
      Map
    </a>
    <a class="nav-link nav-link-afterlogin text-center" href="/html/feed.html?mode=favorites">
      <i class="bi bi-star" style="font-size:1.2rem;"></i><br>
      My Favorites
    </a>
    <a class="nav-link nav-link-afterlogin text-center" href="/html/profile.html">
      <i class="bi bi-person" style="font-size:1.2rem;"></i><br>
      You
    </a>
  </div>
</nav>
