<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom">
  <div class="container-fluid">
    <!-- Relative path up two levels, then into public/logo/logo.png -->
    <a class="navbar-brand d-flex align-items-center" href="home.html">
      <img src="/logo/logo.png" alt="PathPal logo">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navBefore"
      aria-controls="navBefore"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBefore">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="login.html">
            <i class="bi bi-box-arrow-in-right"></i> Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register.html">
            <i class="bi bi-person-plus"></i> Sign Up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
